/**
 * IMAProxy configuration
 */

module.exports = {

    // host name or URL to IMAP server
    // use "ssl://<server>:<port>" for SSL connections
    imap_server: "localhost",

    // disable TLS certificate validation for connections to imap_server
    tls_nocheck_certs: true,

    // local port to bind the proxy to
    bind_port: 9993,

    // keep-alive interval (in seconds) on server connection
    keep_alive: 180,

    // create server with SSL
    ssl: true,
    ssl_key:  './ssl/host.key',
    ssl_cert: './ssl/localhost.crt',
    ssl_ca:   './ssl/localhost.crt',

    // number of worker processes to spawn
    // set to 0 to run in single-process mode
    workers: 1,

    // log connections
    conn_log: true,

    // enable IMAP debug logging
    debug_log:   true

};
